.container {
    // width: 2000px;
    margin: 0 auto; 
    text-align: center; /* align text center aligned*/
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(254, 215, 170);
    max-width: 70%;
    padding: 5px 0px;
    
}