#chat-clicker {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
#chat-clicker a {
    background-color: rgba(254, 215, 170, 0.5);
    border-radius: 3px;
    padding: 2px;
    margin: 10px 10px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    outline: 1px solid black;
}
#option {
    width: 10rem;
    height: 3.5rem;
}
form {
    margin-top: 20px;
    max-width: 90vw;
    min-width: 85vw;
    border: 1px solid #089cf4;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media only screen and (min-width: 600px) {
    form {
        max-width: 50vw;
        min-width: 25vw;
    }
}

.build-prompt-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.build-prompt-btn button {
    background-color: rgba(8, 156, 244, 0.4);
    border-radius: 3px;
    padding: 4px;
    margin: 10px 10px;
}

button #clipboard-btn {
    background-color: rgba(8, 156, 244, 0.4);
    border-radius: 3px;
    padding: 4px;
    margin: 10px;
}

p #response-text-block {
    max-width: 60%;
    word-wrap: break-word;
    padding: 15px;
}

#message {
    padding: 15px;
}

#outer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#context-input {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
