<div class="form-container">
    <div
        class="uppercases tracking-wide text-gray-700 text-l font-bold"
        id="chat-clicker"
    >
        To generate text that can be used on a website, use this section 👇!
    </div>
    <form (submit)="onSubmit()">
        <div id="context-input">
            <textarea
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="message"
                name="message"
                rows="5"
                [(ngModel)]="message"
            ></textarea>
        </div>
        <div class="build-prompt-btn">
            <button
                class="shadow bg-orange-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                type="submit"
            >
                Generate text
            </button>
        </div>
    </form>
    <div class="response">
        <div *ngIf="loading">
            <p>Loading response...</p>
        </div>
        <div *ngIf="response" class="response-block">
            <h3><b>Generated prompt: </b></h3>
            <p id="response-text-block">{{ response }}</p>
            <button
                class="shadow bg-orange-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                id="clipboard-btn"
                (click)="onCopy()"
            >
                Copy to clipboard
            </button>

            <div *ngIf="error">
                <p>Error: {{ error }}</p>
            </div>
        </div>
    </div>
</div>
