#dalle-section-component-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 2px ridge rgba(8, 156, 244, 0.5);
    border-radius: 10px;
}
#image-gen-builders {
    display: flex;
    app-image-gen {
        margin: 0.5rem;
    }
}

.help-text {
    margin: 1rem;
}

.build-prompt-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#page-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page-description textarea {
    width: 40rem;
}

.build-prompt-btn button {
    border-radius: 3px;
    padding: 4px;
    margin: 10px 10px;
}
.image-ids {
    width: 50vw;
    font-size: 1.1rem;
}

.image-ids > ol > li {
    font-family: monospace;
}
